<?php
/**
 * ${docdescription}
 *  
 * Joomla! 1.5 Model
 * PHP ${phpver}
 *  
 * Created on ${date}
 * 
 * @package ${package_name}
 * @author ${name} <${email}>  
 * @copyright ${year} ${name}
 * @version SVN: $Id:$
 */
 
// no direct access
defined(_JEXEC) or die('Access Denied');
 
jimport('joomla.application.component.model');
 
${content}
 
 ?>